<!-- Header -->
<app-header></app-header>

<!-- Main Content -->
<div class="bg-black text-white px-6 py-8 min-h-screen overflow-y-auto">
  <!-- Buscador -->
  <div class="mb-6">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      (input)="filterPlayers()"
      placeholder="Buscar jugador..."
      class="w-full p-3 border border-gray-700 rounded-lg bg-gray-800 text-white placeholder-gray-400 focus:outline-none focus:ring focus:ring-red-600"
    />
  </div>

  <!-- Botones de Filtro -->
  <div class="flex gap-4 mb-6">
    <button
      class="text-sm px-4 py-2 bg-gray-700 rounded hover:bg-gray-600 transition"
    >
      Duelista
    </button>
    <button
      class="text-sm px-4 py-2 bg-gray-700 rounded hover:bg-gray-600 transition"
    >
      Iniciador
    </button>
    <button
      class="text-sm px-4 py-2 bg-gray-700 rounded hover:bg-gray-600 transition"
    >
      Smoker
    </button>
    <button
      class="text-sm px-4 py-2 bg-gray-700 rounded hover:bg-gray-600 transition"
    >
      Centinela
    </button>
    <button
      class="text-sm px-4 py-2 bg-gray-700 rounded hover:bg-gray-600 transition"
    >
      Flex
    </button>
  </div>

<!-- Selector de Equipos -->
<div class="mb-6">
    <select
      [(ngModel)]="selectedTeam"
      (change)="filterByTeam()"
      class="w-full p-3 border border-gray-700 rounded-lg bg-gray-800 text-white placeholder-gray-400 focus:outline-none focus:ring focus:ring-red-600"
    >
      <option value="">Seleccionar equipo...</option>
      <option *ngFor="let team of availableTeams" [value]="team">
        {{ team }}
      </option>
    </select>
  </div>
  
  <!-- Lista de Jugadores Filtrados -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
    <div
      *ngFor="let jugador of filteredJugadores"
      class="bg-gray-800 p-4 rounded-lg shadow-lg flex flex-row items-center sm:flex-col"
    >
      <img
        [src]="jugador.image"
        [alt]="jugador.name"
        class="w-20 h-20 rounded-full mr-4 sm:mr-0 sm:mb-4 object-cover"
      />
      <div class="flex-1">
        <h3 class="text-lg font-bold mb-1 text-white text-center">{{ jugador.name }}</h3>
        <p class="text-sm text-gray-400 text-center">{{ jugador.team }}</p>
      </div>
      <button
        class="text-sm my-2 px-4 py-2 bg-red-800 rounded hover:bg-red-900 transition"
        (click)="showPlayerDetails(jugador.name)"
      >
        Ver Estadísticas
      </button>
    </div>
  </div>
  
</div>
